@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding:0;
	border: 0;
	background-color: #00204a;
	overflow-x: hidden;
}

background {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
}

.opening.screen {
    height: 100vh;
    width: 100vw;
}

.burger h1 {
    font-size: 4.3em;
    color: #2bbfe2;
    font-family:Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana,' sans-serif';
	max-width: 60vw;
	margin: 0 auto;
}

.burger {
	max-height: 50%;
    height: 50%;
}

.burger svg {
    max-height: 100%;
}

.center {
	margin: auto;
}

.text-center {
	text-align: center;
}

@media screen and (max-width: 600px) {
	body {
		width: 170vw;
		max-width: 170vw;
/*		height: 150vw;*/
		margin-left: -35%;
	}
    
    .burger h1 {
        margin-top: 25%;
    }
}
